<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="text-center">
      <a href="/users" class="btn btn-outline-primary float-right">Home</a>
      <h1>Edit User {{ id }}</h1>
      <form action="/updateuser" method="POST">
        <input type="hidden" name="id" value={{ id }}>
        <p>First Name: <input type="text" name="firstname" value="{{ user[0].FirstName }}"></p>
        <p>Last Name: <input type="text" name="lastname" value="{{ user[0].LastName }}"></p>
        <p>Email: <input type="text" name="email" value="{{ user[0].Email }}"></p>
        <p>Description: <input type="text" name="description" value="{{ user[0].description }}"></p>
        <input type="submit" value="Edit">
        <a href="/users/{{ id }}" class="btn btn-outline-primary float-center">Show User</a>
      </form>
    </div>
  </div>
</body>

</html>
