<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="text-center">
      <h1>All Users</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in all_users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.FirstName }} {{ user.LastName }}</td>
            <td>{{ user.Email }}</td>
            <td>{{ user.description }}</td>
            <td>{{ user.created_at }}</td>
            <td>
              <a href="/users/{{ user.id }}" class="btn btn-info">Show</a>
              <a href="/users/{{ user.id }}/edit" class="btn btn-warning">Edit</a>
              <a href="/users/{{ user.id }}/delete" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/users/new" class="btn btn-primary">Add a New User</a>
    </div>
</body>

</html>
